# Terraform state files
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Local Terraform directory
.terraform/

# Sensitive variable files (adjust as needed if not using a secure secrets manager)
*.tfvars

# Saved plan files
*.tfplan
